venv/
__pycache__/
*.bin
.env
fhe_keys_data/
*.bytes
# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# AWS Lambda Build Artifacts
infra/layer_build/python/
*.zip

# Ficheiros de teste manuais
ficheiro_falso.bytes