# ========================================
# 1. Ambientes Virtuais e Python
# ========================================
venv/
env/
__pycache__/
*.py[cod]
*$py.class

# ========================================
# 2. Segredos e Chaves (CRÍTICO)
# ========================================
.env
fhe_keys_data/
*.bytes

# ========================================
# 3. Infraestrutura (Terraform)
# ========================================
.terraform/
*.tfstate
*.tfstate.*
# NOTA: .terraform.lock.hcl NÃO está aqui de propósito. Ele DEVE ir para o GitHub.

# ========================================
# 4. AWS Lambda e Build Artifacts
# ========================================
infra/layer_build/python/
*.zip
*.bin
ficheiro_falso.bytes

# ========================================
# 5. Dados Locais e Machine Learning
# ========================================
# Ignorar pastas de dados caso o PyTorch descarregue o MNIST localmente fora do Docker
data/
datasets/
.flower/

# ========================================
# 6. Editores de Texto e SO
# ========================================
.vscode/
.idea/
.DS_Store
Thumbs.db